[submodule "src/mocap4r2_msgs"]
	path = src/mocap4r2_msgs
	url = https://github.com/MOCAP4ROS2-Project/mocap4r2_msgs.git
[submodule "src/aerostack2"]
	path = src/aerostack2
	url = git@github.com:sjulier/aerostack2.git
